@import "@/styles/mixin.scss";
@import "@/styles/variables.scss";

.main {
  @include main;
  color: var(--primary-color);
}

.title {
  @include indents-reset;
  color: var(--primary-color);
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.92px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.posts-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-item {
  display: flex;
  width: 100%;
  height: 100%;
}

.post-link {
  width: 100%;
  color: var(--primary-color);
  padding: 2rem;
  background-color: rgba($secondary-color, 0.1);
  border-radius: 16px;

  &:hover {
    background-color: rgba($secondary-color, 0.2);
  }
}

.post-meta {
  display: flex;
  align-items: center;
}

.post-title {
  @include indents-reset;
  font-size: 24px;
}

.post-date {
  margin-left: auto;
}

.post-excerpt {
  margin-top: 2rem;
  line-height: 1.8em;

  p {
    @include indents-reset;
    margin-top: 1rem;
  }
}

.image {
  margin-top: 2rem;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}
