@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "variables.scss";

:root {
  --secondary-color: #757982;

  --primary-color-dark: #d6dce2;
  --tertiary-color-dark: #212123;

  --primary-color-white: #111827;
  --tertiary-color-white: #f8fafc;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 390px;
}

.main {
  width: 100%;
  height: 100svh;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: 0.3s;
}

*::selection {
  color: var(--tertiary-color);
  background: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
}

a,
button {
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.25;
}

.dark-theme {
  background: linear-gradient(
      to right,
      rgba(214, 220, 226, 0.08) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(214, 220, 226, 0.08) 1px, transparent 1px);
  background-size: 60px 60px;
  background-color: var(--tertiary-color);
}
.light-theme {
  background: linear-gradient(
      to right,
      rgba(214, 220, 226, 0.4) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(214, 220, 226, 0.4) 1px, transparent 1px);
  background-size: 60px 60px;
  background-color: var(--tertiary-color);
}
