$xl-width: 1440px;
$l-width: 1280px;
$m-width: 1024px;
$s-width: 390px; 

$yellow: #FFCC18;
$lightyellow: #FFE69B; 
$black: #444642;
$lightgray: #D9D9D9;
$gray: #949593;
$green: #099321;
$lightgreen: #28B440;
$red: #EC0000;
$wb: #EB1F85;
$ozon: #0336cc;
$blue: #275CE6;
$orange: #FF8718;

$xxxl-text: 36px;
$xxl-text: 32px;
$xl-text: 24px;
$l-text: 18px;
$m-text: 16px;
$s-text: 14px;
$xs-text: 12px;
$xxs-text: 10px;